################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/AspPickupVars/bin/Debug
/AspPickupVars/obj
/AspPickupVars/bin/Release
